FARE_ESTIMATION_PORT=3012
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ride_hailing_db
DB_USER=zannujulius
DB_PASSWORD=

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=fare-estimation
KAFKA_GROUP_ID=fare-estimation-group
KAFKA_ESTIMATE_REQUEST_TOPIC=rider.trip.estimate.requested
KAFKA_TRIP_REQUEST_TOPIC=rider.trip.requested
KAFKA_NOTIFICATION_TOPIC=rider.notifications

GOOGLE_MAPS_API_KEY=

FARE_BASE_FARE=500
FARE_TIME_RATE=50
FARE_DISTANCE_RATE=300
FARE_SURGE_MULTIPLIER=1
FARE_CURRENCY=RWF
FARE_FALLBACK_AVERAGE_SPEED_KPH=28
